In [6]:
sozluk = {"Kategori" : ["Giyim", "Giyim", "Ayakkabı", "Aksesuar", "Ayakkabı", "Giyim", "Aksesuar", "Aksesuar", "Ayakkabı", "Giyim"],
         "Ürün" : ["Kazak", "T-shirt", "Sandalet", "Küpe", "Spor Ayakkabı", "Pantolon", "Kolye", "Yüzük", "Çizme", "Ceket"],
         "Fiyat" : [300,180,450,50,700,400,150,80,850,900]}

1) Yukardaki sözlüğü bir DataFrame haline getirin.

In [4]:
import pandas as pd

In [5]:
sozluk_df=pd.DataFrame(sozluk)

In [7]:
sozluk_df

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

2 ) Aşagıdaki işlemleri DataFrame üzerinde uygulayalım.
  . 2.indexde bulunan kategoriyi bulalım(Sadece kategori bilgisi)
  . 2.indexde bulunan ürünü bulalım(Sadece ürün bilgisi)
  . 4.indexden 9.indexe kadar olan verileri bulalım(Kategori,ürün,fiyat bilgisi beraber)
  . 1.indexden 6.indexe kadar olan ürünleri bulalım(Sadece ürün bilgisi)

In [22]:
sozluk_df.loc[2,"Kategori"] # loc : Etikete dayalı seçme işlemi gerçekleştirir. Seçmek istediğimiz satır ve sütunun adını belirtmek gerekir. 
                            #Seçimlerde verilen aralığın son elemanını içerir.
sozluk_df.iloc[2,0]         # iloc : İndexe dayalı seçme işlemidir. Seçmek istenilen satur ve sütunun indexi belirtilir.
                            #Indexe dayalı bir yöntem olduğundan belirtilen aralığın son öğesini içermez.

'Ayakkabı'

In [9]:
sozluk_df.loc[2,"Ürün"]
sozluk_df.iloc[2,1]

'Sandalet'

In [16]:
sozluk_df.iloc[4:9,:]
sozluk_df.loc[4:8,"Kategori":"Fiyat"]

   Kategori           Ürün  Fiyat
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850

In [10]:
sozluk_df.iloc[1:6,1]
sozluk_df.loc[1:5,"Ürün"]

1          T-shirt
2         Sandalet
3             Küpe
4    Spor Ayakkabı
5         Pantolon
Name: Ürün, dtype: object

3) Yukarıdaki DataFrame için
a) Giyim kategorisinde bulunan ürünler gösterilir.
b) Ayakkabı kategorisinde bulunan ürünler gösterilir
c) 
Aksesuar kategorisinde bulunan ürünler gösterilir.

In [11]:
sozluk_df

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [15]:
sozluk_df[sozluk_df["Kategori"]=="Giyim"][["Ürün"]]

       Ürün
0     Kazak
1   T-shirt
5  Pantolon
9     Ceket

In [16]:
sozluk_df[sozluk_df["Kategori"]=="Ayakkabı"][["Ürün"]]

            Ürün
2       Sandalet
4  Spor Ayakkabı
8          Çizme

In [17]:
sozluk_df[sozluk_df["Kategori"]=="Aksesuar"][["Ürün"]]

    Ürün
3   Küpe
6  Kolye
7  Yüzük

4) Yukarıdaki DataFrame için 
a) 
 Giyim kategorisinde fiyatı 300'den fazla olan ürünler gösterilir.b) 
 Ayakkabı kategorisinde fiyatı 600'den az olan ürünler gösterilirc)  
 Aksesuar kategorisinde fiyatı 100'den fazla olan aksesuar gösterilir.

In [18]:
sozluk_df

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [19]:
sozluk_df[(sozluk_df["Kategori"]=="Giyim") & (sozluk_df["Fiyat"] > 300)]

  Kategori      Ürün  Fiyat
5    Giyim  Pantolon    400
9    Giyim     Ceket    900

In [20]:
sozluk_df[(sozluk_df["Kategori"]=="Ayakkabı") & (sozluk_df["Fiyat"] < 600)]

   Kategori      Ürün  Fiyat
2  Ayakkabı  Sandalet    450

In [21]:
sozluk_df[(sozluk_df["Kategori"]=="Aksesuar") & (sozluk_df["Fiyat"] > 100)]

   Kategori   Ürün  Fiyat
6  Aksesuar  Kolye    150